**/*.sqlite
**/__pycache__
**/.ba
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gradle
**/.project
**/.vs
**/.vscode
**/.idea
**/ba
**/bin
**/build
**/docker-compose*
**/Dockerfile*
**/gradle
**/logs
**/venv

ba.properties
baw
baw.bat
build.ba
build.gradle
gradle.properties
gradlew
gradlew.bat
Jenkinsfile
README.md
settings.ba
settings.gradle
