/.idea/
/build/
/venv/
/.ba/
/.gradle/

**/__pycache__
**/migrations/
**/*.sqlite
**/logs

*.tar
/.vscode/

# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment directories
env/
venv/
